<h1>Statistics page</h1>

<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="statisticsOfProducts"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabelProducts"
  [showYAxisLabel]="showYAxisLabelProducts"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
<br>
<hr>
<br>
<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="statisticsOfOrders"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabelOrders"
  [showYAxisLabel]="showYAxisLabelOrders"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
