<section>

  <div class="wrapper">

    <router-outlet></router-outlet>

    <div class="menu">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <button mat-menu-item>
            <a routerLink="statistics">Statistics</a>
          </button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-menu-item>
            <a routerLink="category">Category</a>
          </button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-menu-item>
            <a routerLink="product">Product</a>
          </button>
        </mat-list-item>
      </mat-list>
    </div>

  </div>

</section>
