<mat-toolbar *ngIf="(isAuthorized$ | async)" color="primary">

    <mat-toolbar-row>
      <span>
          <button mat-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="">store</button>
            <button mat-menu-item>cart</button>
            <button mat-menu-item routerLink="wishes">wishlist</button>
          </mat-menu>
      </span>

      <span class="fill-remaining-space"></span>

      <span *ngIf="!!products">
        <button mat-button>
          <a routerLink="/wishlist" >
            {{ products.length }}
            <i class="material-icons">favorite</i> 
          </a>
        </button>
      </span>
  
      <span class="fill-remaining-space"></span>
  
      <span>
        <span class="user-name" mat-button>{{ (user$ | async)?.login }}</span>
        <button mat-button>
          <a (click)="logout()" >log out</a>
        </button>
      </span>
    </mat-toolbar-row>
  
  </mat-toolbar>
  
  <mat-toolbar *ngIf="!(isAuthorized$ | async)" color="primary">
  
      <mat-toolbar-row>
  
        <span class="fill-remaining-space"></span>
    
        <span>
          <button mat-button>
            <a [routerLink]="['', 'login']">login</a>
          </button>
          <button mat-button>
              <a [routerLink]="['', 'register']" >register</a>
          </button>
        </span>
      </mat-toolbar-row>
      
    </mat-toolbar>