<h1>Product</h1>
<section>

  <mat-card *ngIf="product else preloader">
    <div class="img-wrapper">
      <img mat-card-image src={{product.thumbnail}} alt="Product image">
    </div>
    <mat-card-header>
        <div (click)="addOrRemoveProduct()" class="heart">
            <i *ngIf="isFavorite()" class="material-icons">
              favorite
            </i>
            <i *ngIf="!isFavorite()" class="material-icons">
              favorite_border
            </i>
        </div>
      <mat-card-title>{{product.title}}</mat-card-title>
      <mat-card-title>{{product.title}}</mat-card-title>
    <mat-card-header>
    <div class="card-data-wrapper">
      <mat-card-content>
        <div class="description">{{product.description}}</div>
        <div>Category title: {{product.category_title}}</div>
        <div>Price: {{product.price}}</div>
        <div>Stock: {{product.stock}}</div>
      </mat-card-content>
    </div>

  </mat-card>


  <div class="we-recommend">
    <h2>We recommended</h2>
    <div class="carousel">
      <div class="carousel-body">
        <div class="for-slide" [ngStyle]="{'left':position + 'px'}" #slide>
          <ng-container *ngIf="carouselItems?.length > 0">
            <div *ngFor="let product of carouselItems" class="carousel-item">
              <a (click)="linkClick(product.id)" routerLink="../{{product.id}}">
                <div class="title">{{product.title}}</div>
                <div class="price">Price: {{product.price}}</div>
                <div class="thumbnail">
                  <img src="{{product.thumbnail}}" alt="thumbnail">
                </div>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
      <button (click)="prev()" class="btn-prev" mat-raised-button color="primary">Prev</button>
      <button (click)="next()" class="btn-next" mat-raised-button color="primary">Next</button>
    </div>

  </div>


</section>

<ng-template #preloader>
  <app-spinner></app-spinner>
</ng-template>
