mat-card {
  width: 30%;
  margin: auto;
}

.heart {
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
}

mat-card mat-card-title {
  font-size: 45px;
  font-weight: 700;
  color: rgba(21, 32, 81, 0.82);
}

mat-card mat-card-content div {
  margin-bottom: 10px;
  font-weight: 700;
  color: #0073d8;
}

mat-card img {
  width: 250px;
  margin: 0 50px 0 0;
}

.card-data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel {
  position: relative;
}

.carousel-body {
  width: 80%;
  overflow: hidden;
  margin: auto;
}

.for-slide {
  display: inline-flex;
  position: relative;
}

.thumbnail img {
  width: 150px;
}

.carousel-item {
  margin: 10px;
  width: 150px;
  text-align: center;
  opacity: 0.7;
}

.carousel-item:hover {
  opacity: 1;
}

.btn-prev,
.btn-next {
  position: absolute;
  top: 70px;
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
}

.we-recommend a {
  text-decoration: initial;
  color: initial;
}

