mat-card {
  width: 30%;
  margin: auto;
}

.heart {
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
}

mat-card mat-card-title {
  font-size: 45px;
  font-weight: 700;
  color: rgba(21, 32, 81, 0.82);
}

mat-card mat-card-content div {
  margin-bottom: 10px;
  font-weight: 700;
  color: #0073d8;
}

mat-card img {
  width: 250px;
  margin: 0 50px 0 0;
}

.card-data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
