<mat-card class="login">

 <mat-card-header>
   <mat-card-title>Login</mat-card-title>
 </mat-card-header>

 <mat-card-content>
   <form class="login__form" [formGroup]="loginForm">
     <table class="login__table" cellspacing="0">
       <tr>
         <td>

           <mat-form-field class="login__form-field">
             <input class="login__input" matInput placeholder="Login" formControlName="login" name="login" required>
           </mat-form-field>

         </td>
       </tr>
       <tr>
         <td>

          <mat-form-field class="login__form-field">
           <input class="login__input" matInput placeholder="Password" formControlName="password" type="password" name="password" required>
         </mat-form-field>

       </td>
     </tr>
   </table>
 </form>
 <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card-content>

<mat-card-actions>
 <button [disabled]="loginForm.status === 'VALID' ? false : true" mat-raised-button (click)="loginUser()" color="primary">Login</button>
</mat-card-actions>

</mat-card>