<section>
  <form [formGroup]="newCategoryForm" (ngSubmit)="formOnSubmit()">
    <div class="form-field-container">
      <h2>Add new category</h2>

      <div class="form-group">
        <mat-form-field class="form-field">
          <input matInput [ngClass]="{'is-invalid': submitted && f.title.errors}" formControlName="title" type="text"
                 class="form-control" id="title" placeholder="Category title">
        </mat-form-field>
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Category title is required</div>
          <div *ngIf="f.title.errors.minlength">Min length is 3 char</div>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="form-field">
          <input matInput [ngClass]="{'is-invalid': submitted && f.description.errors}" formControlName="description" type="text"
                 class="form-control" id="description" placeholder="Description">
        </mat-form-field>
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.maxlength">Max length is 255 char</div>
        </div>
      </div>

    </div>
    <button mat-raised-button color="primary">Add category</button>
  </form>
</section>
