.we-recommend {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: #152051d1;
}

.carousel {
  position: relative;
}

.carousel-item {
  cursor: pointer;
}

.carousel-body {
  width: 80%;
  overflow: hidden;
  margin: auto;
}

.for-slide {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  height: 350px;
}


.thumbnail {
  width: 150px;
  height: 150px;
}

.thumbnail img {
  display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  margin: auto;
}

.carousel-item {
  margin: 10px;
  width: 150px;
  text-align: center;
}

.carousel-item:hover {
  filter: contrast(1.2);
}

.btn-prev,
.btn-next {
  position: absolute;
  top: 120px;
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
}

.we-recommend a {
  text-decoration: initial;
  color: initial;
}

.we-recommend h2 {
  text-align: center;
}
