
.product {

  &__header {
    text-align: center;
    padding: 20px;
  }

  &__description {
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;

  }

  &__actions {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: flex-start;
  }

  & img {
    padding: 0px 0px;
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  
}

.flex-item {
  border: 1px solid black;
  margin: 5px;
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}

@media screen and (max-width: 1200px) {
  .product {
    flex: 33%;
    max-width: 30%;
  }
}

@media screen and (max-width: 800px) {
  .product {
    flex: 50%;
    max-width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .product {
    flex: 100%;
    max-width: 90%;
  }
}