
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  
}

.product {

  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  text-align: center;

  &__header {
    padding: 1rem;
  }

  &__description {
    padding: 1rem;
  }

  &__actions {
    padding: 1rem;

    & button {
      margin: 0 1rem;
    }
  }

  & img {
    max-width: 100%;
    vertical-align: middle;
  }
}

@media screen and (max-width: 800px) {
  .product {
    flex: 50%;
    max-width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .product {
    flex: 100%;
    max-width: 90%;
  }
}